﻿*{
    outline:none;
}
body {
     
}
.head{
    background-color: #222222;
    padding-bottom: 80px;
}
.my-team{

    width: 100%;
    height: 100%;
    margin-bottom: 80px;

}
.my-team-h1{

    padding-top: 100px;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans - Semibold",sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;

}
.my-team-border-one{

    margin: 0 10px 0 0;
    width: 99px;
    height: 5px;
    border: 3px solid #e8aa4e;
    display: inline-block;
}
.my-team-border-two{
    margin: 0 10px 0 0;
    width: 67px;
    height: 5px;
    border: 3px solid #e8aa4e;
    display:inline-block;
    opacity:0.8;
}
.rounded-circle{
    width:128px;
    height:128px;
    margin-bottom: 25px;  
}
.hero-name{
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}
.hero-name span{
    font-size: 16px;
    font-weight: 400;
}
.hero-date{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.hero-mid{
    margin-top: 50px;

}
.add-hero-text{
margin-bottom: 20px;
color: #272727;
font-family: "Open Sans",sans-serif;
font-size: 44px;
font-weight: 300;
line-height: 44px;
text-transform: uppercase;}

